$mainBgColour: #fff;
$mainTextColour: #444;
$mainSelectionBgColour: #b3d4fc;
$mainSelectionTextColour: #444;
$mainHighlightBgColour: #F5F5F5;
$mainHighlightTextColour: #111;
$keylineColour: #ccc;
$mainLinkColour: #607890;
$mainLinkHoverColour: #036;
$mainLinkVisitedColour: #4b5e70;

$errorBackgroundColour: #f0dddd;

$tableBorderColour: #ccc;
$tableThBgColour: #ddd;
$tableOddBgColour: #eee;
$tableRowHoverBgColour: #f5f5f5;

$baseSize: 14px;
$baseLine: 21px;
$baseLineDouble: 42px;